/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Rubocop
.rubocop-*

# rspec failure tracking
spec/examples.txt

.env.*.local

# CircleCI / RSpec JUnit formatter
test-results

gemfiles/*.gemfile.lock

examples/output

.ruby-version
