/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Rubocop
.rubocop-*
rubocop-result.json

# Dotenv
.env.*.local

# RSpec
rspec/
spec/examples.txt

# Appraisals
gemfiles/*.gemfile.lock

# Examples
examples/output
