---
http_interactions:
- request:
    method: get
    uri: https://api.remove.bg/v1.0/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<REMOVE-BG-API-KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83-MenMYw+SiTSRWMxm+UQ4/0gLJi0"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"credits":{"subscription":4943,"payg":0,"enterprise":0,"total":4943},"api":{"free_calls":0,"sizes":"all"}}}}'
  recorded_at: Mon, 01 Jun 2020 15:48:31 GMT
recorded_with: VCR 5.1.0
