---
http_interactions:
- request:
    method: get
    uri: https://api.remove.bg/v1.0/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<REMOVE-BG-API-KEY>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-ZYSJUNan+vHEerE8xn/p5MpyZUo"
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"API Key invalid","code":"auth_failed"}]}'
  recorded_at: Mon, 01 Jun 2020 15:48:30 GMT
recorded_with: VCR 5.1.0
