---
http_interactions:
- request:
    method: get
    uri: https://api.remove.bg/v1.0/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<REMOVE-BG-API-KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"84-INkA6jLq02tsWK7vl9f8niXJcXI"
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"credits":{"subscription":5000,"payg":0,"enterprise":0,"total":5000},"api":{"free_calls":50,"sizes":"all"}}}}'
  recorded_at: Wed, 06 May 2020 15:45:39 GMT
recorded_with: VCR 4.0.0
