---
http_interactions:
- request:
    method: post
    uri: https://api.remove.bg/v1.0/removebg
    body:
      encoding: ASCII-8BIT
      bin_key: xeles-fonef-motyd-cekyk-dupok-vysyr-pugar-vubuf-lodog-fabyf-kapyt-zilyz-hohag-zuzil-hubyr-cisyf-fixox
    headers:
      X-Api-Key:
      - "<REMOVE-BG-API-KEY>"
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-e0914442889e170c50608c131387f329
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-ZYSJUNan+vHEerE8xn/p5MpyZUo"
    body:
      encoding: UTF-8
      string: '{"errors":[{"title":"API Key invalid","code":"auth_failed"}]}'
  recorded_at: Mon, 01 Jun 2020 15:48:30 GMT
recorded_with: VCR 5.1.0
